.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
coir-main/coir/beir/retrieval/__pycache__/*
coir-main/coir/__pycache__/
coir-main/results/Alibaba-NLP/gte-Qwen2-1.5B-instruct_explanation_deepseek_1/retrieval_evaluation.csv
coir-main/results/Alibaba-NLP/gte-Qwen2-1.5B-instruct_explanation_granite_1/retrieval_evaluation.csv
coir-main/results/google-bert/bert-base-uncased_explanation_deepseek_1/retrieval_evaluation.csv
coir-main/results/google-bert/bert-base-uncased_explanation_granite_1/retrieval_evaluation.csv
coir-main/results/infly/inf-retriever-v1-1.5b_explanation_deepseek_1/retrieval_evaluation.csv
coir-main/results/infly/inf-retriever-v1-1.5b_explanation_granite_1/retrieval_evaluation.csv
coir-main/results/intfloat/e5-base-v2/explanation_deepseek_1_bm25PostFilter/augmented_retrieval_analysis.csv
coir-main/results/intfloat/e5-base-v2/explanation_deepseek_1_bm25PostFilter/retrieval_evaluation.csv
coir-main/results/microsoft/unixcoder-base_explanation_deepseek_1/retrieval_evaluation.csv
coir-main/results/microsoft/unixcoder-base_explanation_granite_1/retrieval_evaluation.csv
coir-main/results/sentence-transformers/all-MiniLM-L6-v2_explanation_deepseek_1/retrieval_evaluation.csv
coir-main/results/sentence-transformers/all-MiniLM-L6-v2_explanation_granite_1/retrieval_evaluation.csv
coir-main/results/intfloat/e5-base-v2/baseline/*
